<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Passwort zurücksetzen </title>
</head>
<body>
  <p>Sie haben eine Anfrage gestellt, um Ihr Passwort zurückzusetzen. Bitte klicken Sie auf den folgenden Link, um Ihr Passwort zurückzusetzen:</p>
  <a href="{{ urlName }}">Passwort zurücksetzen</a>
  <p>Wenn Sie diese Anfrage nicht gestellt haben, können Sie diese E-Mail ignorieren.</p>
</body>
</html>

