<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Kauf erfolgreich abgeschlossen </title>
</head>
<body>
  <p> Vielen Dank für die Registrierung </p>
  <a href="{{ urlName }}">E-Mail bestätigen</a>
</body>
</html>
