<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Kauf erfolgreich abgeschlossen </title>
</head>
<body>
  <h1> Danke {{ seller }} </h1>
  <p> Der Kauf von {{ item }} wurde erfolgreich abgeschlossen. </p>
  <p> Das Produkt wird in Kürze versendet. </p>
</body>
</html>
