* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-body-secondary {
  min-height: 100vh;
}

main {
  flex: 1;
}

svg a {
  color: white;
}

.item {
  width: 20rem;
}

.pictureHeader {
  width: 2.5rem;
  height: 2.5rem;
}

.profilePicture {
  width: 3em;
  height: 3em;
}

#ImageCarouselIndicators {
  width: 22rem;
  height: 22rem;
}

.message-bubble {
  max-width: 70%;
  position: relative;
}

.sender {
  background-color: #e2f0cb;
}

.receiver {
  background-color: #c7d2fe;
}

.imageRatio {
  height: 12em;
}

.carousel-item {
  height: 19rem;
}

#chatBox {
  min-height: 40vh;
  max-height: 40vh;
}

.small-font {
  font-size: 0.7em;
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.04);
}

.shadow-top {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.01), 0 -5px 10px rgba(0, 0, 0, 0.02), 0 -5px 10px rgba(0, 0, 0, 0.03), 0 -5px 10px rgba(0, 0, 0, 0.04), 0 -5px 10px rgba(0, 0, 0, 0.05);
}
