* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 48, 53);
}

svg a {
  color: white;
}

.profilBild {
  width: 75px;
  height: 75px;
}

#versteckterBtn {
  display: none;
}

.homepageAlert {
  width: 10rem;
  height: 20rem;
}

.pageHeight {
  min-height: 24em;
}

.item {
  width: 20rem;
}

.pictureHeader {
  width: 2.5em;
  border-radius: 50%;
  background-color: white;
}

.profilePictureSize {
  width: 5em;
  height: 5em;
}

#ImageCarouselIndicators {
  width: 22em;
  height: 22em;
}

.message-bubble {
  display: inline-block;
  padding: 10px;
  max-width: 70%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.sender {
  background-color: #e2f0cb;
}

.receiver {
  background-color: #c7d2fe;
}
