* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 48, 53);
}

svg a {
  color: white;
}

#versteckterBtn {
  display: none;
}

.pageHeight {
  height: 100%;
}

.item {
  width: 20rem;
}

.pictureHeader {
  width: 2.5em;
  height: 2.5em;
}

.profilePicture {
  width: 3em;
  height: 3em;
}

#ImageCarouselIndicators {
  width: 22em;
  height: 22em;
}

.message-bubble {
  display: inline-block;
  padding: 10px;
  max-width: 70%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.sender {
  background-color: #e2f0cb;
}

.receiver {
  background-color: #c7d2fe;
}

.imageRatio {
  height: 12em;
  overflow: hidden;
}

.imageRatioSmall {
  height: 3em;
  overflow: hidden;
}

.carousel-item {
  height: 19em;
}

.chatBoxSize {
  height: 21em;
}
