<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="bg-body-secondary">
  @include('partials/header')
  @include('partials/suchleiste')

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2>Profil</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="rounded-circle profilBild" alt="profil-bild">
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <button type="button" id="enableInputBtn" class="btn btn-primary ml-auto">Daten ändern</button>
      </div>
      <div class="col-md-12 mt-3">
        <form action="/home/konto/profil" method="post">
          {{csrfField()}}
          <div class="mb-3">
            <label for="benutzername" class="form-label">Benutzername:</label>
            <input type="text" id="benutzername" class="form-control w-50" name="benutzername" placeholder="{{ user.username }}" value="{{ user.username }}" disabled>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">E-Mail:</label>
            <input type="text" id="email" class="form-control w-50" name="email" placeholder="{{ user.email }}" value="{{ user.email }}" disabled>
          </div>
          <div class="mb-3">
            <label for="vorname" class="form-label">Vorname:</label>
            <input type="text" id="vorname" class="form-control w-50" name="vorname" placeholder="{{ user.firstname }}" value="{{ user.firstname }}" disabled>
          </div>
          <div class="mb-4">
            <label for="nachname" class="form-label">Nachname:</label>
            <input type="text" id="nachname" class="form-control w-50" name="nachname" placeholder="{{ user.lastname }}" value="{{ user.lastname }}" disabled>
          </div>
          <button type="submit" id="versteckterBtn" class="btn btn-primary mb-4">Ändern</button>
        </form>
      </div>
    </div>
  </div>

  @include('partials/footer')
</body>
</html>
